{% extends "layout.html" %}

{% block content %}
  <h3> Products</h3>
  {% if active %}
    <a href="/products/active"> Show Active Only </a>
  {% else %}
    <a href="/products/"> Show All Products </a>
  {% endif %}
  <hr>
  <div class='row'>
    <div class="entry">
      <form method="POST" action="/products">

        <div class="form-group">
          <div class="col-sm-6">
            <input name="name" type="text" class="form-control" placeholder="Product Name" />
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Add a Product</button>
          </div>
        </div>

        <br>
        <div class="form-group">
          <div class="col-sm-12 ">
            <textarea class="form-control" rows="5" name="description" placeholder="Product Description" ></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h3> Product Listing</h3>
  <div class='container'>

    {% for product in products %}
      <div class="form-inline">
        <div class="col-sm-3"> <a href="/products/{{ product._id.toString() }}">{{ product.name }} </a> </div>
        <div class="form-group">
          <div class="col-sm-3">
            <input name="stock" type="number" id="{{ product._id.toString() }}_qty"class="form-control" value="{{ product.numInStock }}" />
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" onclick="window.location='/products/quantity/{{ product._id.toString() }}?quantity='+document.getElementById('{{ product._id.toString() }}_qty').value">Update Stock</button>
          </div>


          <div class="col-sm-3">
            {% if product.active %}
              <a href="/products/toggle/{{ product._id.toString() }}" class="btn btn-danger" role="button">Discontinue</a>
            {% else %}
              <a href="/products/toggle/{{ product._id.toString() }}" class="btn btn-success" role="button">Recontinue</a>
            {% endif %}
          </div>
          {% if product._id.toString() === highlight%}
              <div >
                <a href="/products/delete/{{ product._id.toString() }}" class="btn btn-danger" role="button">
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </a>
              </div>
          {% endif %}
        </div>
      </div>
      {% if product._id.toString() === highlight%}
          <div class="col-sm-offset-7"></div>
          <div class="col-sm-5">
            <strong>Description:</strong>
            <p>{{product.description}}</p>
          </div>
      {% endif %}
      <hr/>
    {% endfor %}

  </div>


{% endblock %}
