{% extends "layout.html" %}

{% block content %}
  <h3> Product Listing</h3>
  <hr>
  <div class="entry">
  <form method="POST" action="/">

    <div class="form-group">
      <div class="col-sm-6">
        <input name="name" type="text" class="form-control" placeholder="Product Name" />
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Add a Product</button>
      </div>
    </div>

    <br>
    <div class="form-group">
      <div class="col-sm-12 ">
        <textarea class="form-control" rows="5" id="description" placeholder="Product Description" ></textarea>
      </div>
    </div>



  </form>
</div>
{% endblock %}
